<div nz-row>
  <div nz-col nzSpan="16">
    <button nz-button
            nzType="primary"
            nzSize="large"
            nzShape="circle"
            (click)="load()"
            [nzLoading]="loading">
      <i nz-icon nzType="reload" nzTheme="outline"></i>
    </button>
  </div>
</div>

<div nz-row>
  <div nz-col nzSpan="16">
    <ngx-charts-line-chart
      [view]="view"
      [scheme]="colorScheme"
      [legend]="legend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [timeline]="timeline"
      [results]="data"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
    >
    </ngx-charts-line-chart>
  </div>
</div>
<div nz-row>
  <div nz-col nzSpan="16">
    <nz-button-group>
      <button nz-button [nzType]="getButtonType('hour')" (click)="load(ChartPeriod.HOUR)">Час</button>
      <button nz-button [nzType]="getButtonType('day')" (click)="load(ChartPeriod.DAY)">Сутки</button>
      <!--<button nz-button [nzType]="getButtonType('10min')" (click)="load(ChartPeriod.TEN_MIN)">10 минут</button>
      <button nz-button [nzType]="getButtonType('1min')" (click)="load(ChartPeriod.ONE_MIN)">1 минута</button>-->
    </nz-button-group>
  </div>
</div>
