<section nz-row>
  <section nz-col nzSpan="24">
    <button nz-button nzType="primary" routerLink="/welcome">
      Сбросить фильтр
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    <button nz-button nzType="primary" [nzLoading]="loading" (click)="load(this.page)">
      <i nz-icon nzType="reload" nzTheme="outline"></i>
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    <span *ngIf="!loading">
      <b>{{ res.from }} - {{ res.to }} из {{ res.total }}</b>
    </span>
    <nz-divider></nz-divider>

    <section nz-row>
      <section nz-col>
        <nz-pagination [nzPageIndex]="page"
                       [nzTotal]="total"
                       (nzPageIndexChange)="load($event)"
                       [nzPageSize]="pageSize"></nz-pagination>
        <nz-divider></nz-divider>
      </section>
    </section>
    <section nz-row>
      <section nz-col nzSpan="24">
        <nz-table #basicTable
                  [nzData]="goods"
                  [nzLoading]="loading"
                  [nzPageSize]="pageSize"
                  [(nzPageIndex)]="page"
                  [nzTotal]="total"
                  [nzShowPagination]="false"
                  (nzPageIndexChange)="load(page)"
        >
          <thead>
          <tr>
            <th>Фото</th>
            <th>Название</th>
            <th>Артикул</th>
            <th>Кол-во</th>
            <th>Дата</th>
            <th>Магазин</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>
              <a [routerLink]="'/welcome/product/' + data.id">
                <img [src]="data.product.photo_url" width="100" [style.backgroundColor]="'black'" />
              </a>
            </td>
            <td>
              <a [routerLink]="'/welcome/product/' + data.product.id">{{data.product.title}}</a>
            </td>
            <td>{{data.product.vendor_code}}</td>
            <td>{{data.count}}</td>
            <td>{{data.updated_at | date : 'short' : 'UTC+3' }}</td>
            <td>
              <a *ngIf="!!data.shop" routerLink="/welcome"
                 [queryParams]="{shop_id:data.shop.id}">{{data.shop.title}}</a>
            </td>
            <!--<td>{{data.shop.title }}</td>-->
            <!--<td>{{data.updated_at | date}}</td>-->
            <!--<td>
              <a>Action 一 {{data.name}}</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a>Delete</a>
            </td>-->
          </tr>
          </tbody>
        </nz-table>
      </section>
    </section>
    <section nz-row>
      <section nz-col>
        <nz-divider></nz-divider>
        <nz-pagination [nzPageIndex]="page"
                       [nzTotal]="total"
                       (nzPageIndexChange)="load($event)"
                       [nzPageSize]="pageSize"></nz-pagination>
      </section>
    </section>
  </section>
</section>
