<section>
  <nz-table #basicTable [nzData]="goods" [nzLoading]="loading">
    <thead>
    <tr>
      <th>#</th>
      <th>Название</th>
      <th>URL</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data.id}}</td>
      <td>
        <a routerLink="/welcome" [queryParams]="{shop_id:data.id}">{{data.title}}</a>
      </td>
      <td>
        <a [href]="data.url" target="_blank">{{data.url}}</a>
      </td>
      <!--<td>
        <a>Action 一 {{data.name}}</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a>Delete</a>
      </td>-->
    </tr>
    </tbody>
  </nz-table>
</section>
