<section nz-row *ngIf="good">
  <section nz-col="12">
    <section nz-row>
      <section nz-col="12">
        <h1>{{good.title}}</h1>
        <h3><b>Артикул: </b><i>{{ good.vendor_code }}</i></h3>
      </section>
    </section>

    <!--<section nz-row>
      <section nz-col="12">
        <img [src]="good.photo_url" height="300" />
      </section>
    </section>-->

    <section nz-row>
      <section nz-col="12">
        {{ good.count }}
        {{ good.shop_name }}
      </section>
    </section>

    <section nz-row>
      <section nz-col="12">
        <app-chart [good]="good"></app-chart>
        <nz-divider></nz-divider>
      </section>
    </section>
  </section>
</section>
